<div class="container text-center">
    <h1 class="weather-forecast">Weather Forecast</h1>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 border">
            <app-city-form (addCity)="addCity($event)"></app-city-form>
            <button name="refresh" class="btn btn-success active btn-lg refresh" (click)="update()">Refresh Weather</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="weather-wrapper">
        <div class="weather-card" *ngFor="let city of cities">
            <h1 class="celsius">{{ city.temp_celsius + '°C'}}</h1>
            <h1 class="fahrenheit">{{ city.temp_fahrenheit + '°F'}}</h1>
            <p class="text-center">{{ city.name }}</p>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="white" type="ball-spin" [fullScreen]="true">
    <p style="font-size: 20px; color: white">Please wait...</p>
</ngx-spinner>
