<form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="cityName">Add city</label>
        <input type="text" class="form-control" formControlName="cityName" placeholder="Example: Hamburg">
    </div>

    <div *ngIf="cityFormControls.cityName.invalid && (cityFormControls.cityName.touched)" class="alert alert-danger">

        <div *ngIf="cityFormControls.cityName.errors.uniqueCityNameValidator">
            City already exist !
        </div>

        <div *ngIf="cityFormControls.cityName.errors.required">
            City name is required !
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!cityForm.valid">Add city</button>
</form>
